<a href="https://colab.research.google.com/github/amohd63/INTELLIGENT-SYSTEMS-LAB/blob/main/LAB1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Series and DataFrames


## Pandas Series

Example 1: Create a simple Pandas Series from a list

In [ ]:
import pandas as pd

# create a simple list
a = [1, 7, 2]

# create series from a list
my_Series = pd.Series(a)

print(my_Series)

0    1
1    7
2    2
dtype: int64

Example 2: Create a simple Pandas Series from a dictionary

In [5]:
import pandas as pd

# a simple dictionary
calories = {"day1": 420, "day2": 380, "day3": 390}

# create series from dictionary
my_Series = pd.Series(calories)

print(my_Series)

day1    420
day2    380
day3    390
dtype: int64

## Pandas DataFrame
Example 3: Create a DataFrame from a Series

In [6]:
import pandas as pd

# Initialize data to a series.
d = pd.Series([10, 20, 30, 40])

# creates Dataframe.
df = pd.DataFrame(d)

# print the data.
print(df)

    0
0  10
1  20
2  30
3  40

Example 4: Creating DataFrame from a Dictionary of lists

In [7]:
import pandas as pd

# initialize the data of lists.
data = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
        'Age': [20, 21, 19, 18]}

# Create DataFrame
df = pd.DataFrame(data)

# Print the output.
print(df)

     Name  Age
0   Ahmad   20
1     Ali   21
2    Omar   19
3  Hamzah   18

Example 5: Creating dataframe from two series

In [8]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)
print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

Example 6: Load a CSV file named data.csv into a DataFrame

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')
print(df)

# Exploring DataFrames

## Viewing your data

Example 7: using .head() function to print the first five rows of the data set

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')
print(df.head())

Example 8: using .tail() function to print the last five rows of the data set

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')
print(df.tail())

## DataFrame Shape

Example 9: printing the shape of the dataframe

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')
print(df.shape)

## Information About the Data

Example 10: using .info() function

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')
print(df.info())

# DataFrames Indexing

we will create the following DataFrame to explore the effects of
various dataframe indexing methods

In [9]:
import pandas as pd

df = pd.DataFrame({'col_1': list(range(1, 11)),
                   'col_2': list(range(11, 21)),
                   'col_3': list(range(21, 31)),
                   'col_4': list(range(31, 41)),
                   'col_5': list(range(41, 51)),
                   'col_6': list(range(51, 61)),
                   'col_7': list(range(61, 71)),
                   'col_8': list(range(71, 81)),
                   'col_9': list(range(81, 91))})

print(df)

   col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
0      1     11     21     31     41     51     61     71     81
1      2     12     22     32     42     52     62     72     82
2      3     13     23     33     43     53     63     73     83
3      4     14     24     34     44     54     64     74     84
4      5     15     25     35     45     55     65     75     85
5      6     16     26     36     46     56     66     76     86
6      7     17     27     37     47     57     67     77     87
7      8     18     28     38     48     58     68     78     88
8      9     19     29     39     49     59     69     79     89
9     10     20     30     40     50     60     70     80     90

## Label-based Dataframe Indexing

Using the indexing operator

In [12]:
print(df.columns)
print(df.index)

Index(['col_1', 'col_2', 'col_3', 'col_4', 'col_5', 'col_6', 'col_7', 'col_8',
       'col_9'],
      dtype='object')
RangeIndex(start=0, stop=10, step=1)

Example 11: printing the second column using the label indexing operator.

In [13]:
print(df['col_2'])

0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
9    20
Name: col_2, dtype: int64

try to run the following and see what is returned

In [21]:
print(df[['col_5', 'col_1', 'col_8']])

        col_5  col_1  col_8
row_1      41      1     71
row_2      42      2     72
row_3      43      3     73
row_4      44      4     74
row_5      45      5     75
row_6      46      6     76
row_7      47      7     77
row_8      48      8     78
row_9      49      9     79
row_10     50     10     80

In [22]:
print(df[['col_5', 'col_1', 'col_8', 'col_100']])

KeyError: ignored

Using the loc indexer

Example 12: selecting the values of the first row of the DataFrame using the loc indexer

In [18]:
print(df.loc[0])

col_1     1
col_2    11
col_3    21
col_4    31
col_5    41
col_6    51
col_7    61
col_8    71
col_9    81
Name: 0, dtype: int64

However, for our further experiments with the loc indexer, let's rename the row labels to something more meaningful and of a string data type:

In [19]:
df.index = ['row_1', 'row_2', 'row_3', 'row_4', 'row_5', 'row_6', 'row_7', 'row_8', 'row_9', 'row_10']

Now try to run the following samples and figure out what returns:

In [23]:
print(df.loc[['row_6', 'row_2', 'row_9']])

       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_6      6     16     26     36     46     56     66     76     86
row_2      2     12     22     32     42     52     62     72     82
row_9      9     19     29     39     49     59     69     79     89

In [24]:
print(df.loc[['row_6', 'row_2', 'row_9', 'row_100']])

KeyError: ignored

In [25]:
print(df.loc['row_7':'row_9'])

       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_7      7     17     27     37     47     57     67     77     87
row_8      8     18     28     38     48     58     68     78     88
row_9      9     19     29     39     49     59     69     79     89

**Task 1: Print the first 4 rows using the slicing method.**

In [29]:
print(df.loc['row_1':'row_4'])

       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_1      1     11     21     31     41     51     61     71     81
row_2      2     12     22     32     42     52     62     72     82
row_3      3     13     23     33     43     53     63     73     83
row_4      4     14     24     34     44     54     64     74     84

**Task 2: Print the last row with columns from col_5 to col_7.**

In [42]:
print(df[['col_5', 'col_6', 'col_7']].loc['row_9'])

col_5    49
col_6    59
col_7    69
Name: row_9, dtype: int64

In [43]:
print(df.loc['row_9', 'col_5':'col_7'])

col_5    49
col_6    59
col_7    69
Name: row_9, dtype: int64

Using the at indexer

In [44]:
df.at['row_6', 'col_3']

26

## Position-based Dataframe Indexing

Try to run the following samples and figure out what returns:

In [ ]:
print(df[3:6])
print(df.iloc[3])
print(df.iloc[[9, 8, 7]])
print(df.iloc[0, [2, 8, 3]])
Print(df.iat[1, 2])

Task 3: Use iloc with position-based indexing to select rows 8, and 1 and columns 5 to 9.

Task 4: Use iloc with position-based indexing to select all rows and columns 1, 3, and 7.

## Boolean Dataframe Indexing

Task 5: Selecting all the rows of the dataframe where the value of col_2 is NOT greater than 15

Task 6: Selecting all the rows of the dataframe where the value of col_2 is greater than 15 but not equal to 19

# Saving Dataframe to CSV file

The syntax for using the .to_csv() method is as follows

In [ ]:
DataFrame.to_csv(filename, sep=',', index=False, encoding='utf-8')

Example 13: Saving a DataFrame to a CSV file

In [ ]:
import pandas as pd
# Create a sample dataframe
Biodata = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
'Age': [28, 23, 35, 31],
'Gender': ['M', 'F', 'M', 'F']
}
df = pd.DataFrame(Biodata)
# Save the dataframe to a CSV file
df.to_csv('Biodata.csv', index=False)

Task 7: Save the above dataframe using tab-separated values

# Dealing with Rows and Columns in Panda's DataFrame

## Column Addition

Example 14: Column addition using the basic method

In [ ]:
import pandas as pd
# Define a dictionary containing Students data
data = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
      'Height': [5.1, 6.2, 5.1, 5.2],
      'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print(df)
# Declare a list that is to be converted into a column
address = ['Delhi', 'Bangalore', 'Chennai', 'Patna']
# Using 'Address' as the column name and equating it to the list
df['Address'] = address
# Observe the result
print(df)

Task 8: Add a new column (on the dataframe above) named Age with the following values [21, 23, 24, 21] and make it the third column.

## Column Deletion

Example 15: Deleting a column

In [ ]:
import pandas as pd
# Define a dictionary containing Students data
data = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc'],
        'Age': [21, 23, 24, 21]}
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print(df)
# dropping passed columns
df1 = df.drop(["Height"], axis = 1)
# Observe the result
print(df)
print(df1)

Task 9: Remove column Height and column Age from the existing referring dataframe.

## Adding new row to DataFrame

Example 14: Adding a new row to the end of the Pandas DataFrame.

In [ ]:
import pandas as pd
technologies= {
              'Courses':["Spark","PySpark","Hadoop","Python","Pandas"],
              'Fee' :[22000,25000,23000,24000,26000],
              'Duration':['30days','50days','35days', '40days','55days'],
              'Discount':[1000,2300,1000,1200,2500]
}
df = pd.DataFrame(technologies)
print(df)
# New list to append Row to DataFrame
list = ["Hyperion", 27000, "60days", 2000]
df.loc[len(df)] = list
print(df)

Task 10: use .iloc to insert the new row above into the second position of the DataFrame.

## Deleting row From DataFrame

import pandas as pd
import numpy as np
technologies = {
'Courses':["Spark","PySpark","Hadoop","Python"],
'Fee' :[20000,25000,26000,22000],
'Duration':['30day','40days',np.nan, None],
'Discount':[1000,2300,1500,1200]
}
indexes=['r1','r2','r3','r4']
df = pd.DataFrame(technologies,index=indexes)
print(df)

Example 16: Drop rows by Index Labels or Names

In [ ]:
# Drop rows by Index Label
df1 = df.drop(['r1','r2'])
print(fd1)

Alternatively, you can also write the same statement by using the field name 'index'.

In [ ]:
df1 = df.drop(index=['r1','r2'])
print(df1)

Example 17: Drop Rows by Index Number (Row Number)

In [ ]:
# Delete Rows 1 and 3 by Index numbers
df1=df.drop(df.index[[1,3]])
print(df1)

In [ ]:
# Removes First Row
df=df.drop(df.index[0])

In [ ]:
# Removes Last Row
df=df.drop(df.index[-1])

In [ ]:
# Delete Rows by Index Range
df1=df.drop(df.index[2:])
print(df1)

Example 18: Delete Rows with Default Indexes

In [ ]:
# Remove rows when you have a default index.
df = pd.DataFrame(technologies)
df1 = df.drop(0)
df3 = df.drop([0, 3])
df4 = df.drop(range(0,2))

Example 19: Drop Rows by Checking Conditions

In [ ]:
# Using drop() to delete rows based on column value
df.drop(df[df['Fee'] >= 24000].index, inplace = True)
# Remove rows
df2 = df[df.Fee >= 24000]
# Using loc
df2 = df.loc[df["Fee"] >= 24000]

Task 11: delete all rows with Fee >= 2200 and Discount == 2300. Save the result in a file named task.csv

Task 12: Write a code to delete all rows with a Non/NaN value.

Task 13: Write a code to delete all rows having courses equal to Spark or Hadoop.

# Combining DataFrames in Pandas

## DataFrame Concatenation

Example 14: Concatenate two DataFrames vertically

In [ ]:
import pandas as pd
# Create two sample DataFrames
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']})
# Concatenate the DataFrames vertically
result = pd.concat([df1, df2])
print(result)

Task 14: Perform the concatenation in the above example along columns.

## DataFrame Merging

Task 15: Run the samples above and figure out what returns.

Task 16: Let’s say that we want to merge frames df1 and df2 using a left outer join, Select all the columns from df1 but only column colE from df2.

# Descriptive Statistics

## Basic Descriptives

Create the following dataframe which will be used in the following examples

In [ ]:
import pandas as pd
sales_data = pd.DataFrame({
"name":["Ahmad","Ali","Nour","Mohammad","Hamzah","Omar","Rami","Hani",
"Salem","Anas","Bilal"]
,"region":["East","North","East","South","West","West","South","West",
"West","East","South"]
,"sales":[50000,52000,90000,34000,42000,72000,49000,55000,67000,65000,
67000]
,"expenses":[42000,43000,50000,44000,38000,39000,42000,60000,39000,440
00,45000]})
print(sales_data)

Example 21: Getting the descriptive statistics for the entire DataFrame use:

In [ ]:
stats = sales_data.describe(include='all')
print(stats)

Example 22: To get the descriptive statistics for a specific column from the DataFrame,
use:

In [ ]:
sales_data['dataframe_column'].describe()

Example 23: Breaking Down the Descriptive Statistics as Desired:

In [ ]:
sales_data['dataframe_column'].count()
sales_data['dataframe_column'].quantile(q=0.75)

## Other Descriptives

Example 24: Return the skew of each column:

In [ ]:
import pandas as pd
data = [[10, 18, 11], [13, 15, 8], [9, 20, 3]]
df = pd.DataFrame(data)
print(df.skew())

Example 25: Using Panda Kurtosis method,

In [ ]:
import pandas as pd
dataMatrix = [(65,75,74,73,95,76,62,100),
              (101,102,103,107,157,160,191,192)];
dataFrame = pd.DataFrame(data=dataMatrix);
kurt = dataFrame.kurt(axis=1);
print("Data:");
print(dataFrame);
print("Kurtosis:");
print(kurt);